.main {
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../../images/giggle-crew-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position-x: 15%;
  height: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.header {
  text-align: center;
  font-weight: bold;
  color: #fdfdfd
}

.cont-btn {
  text-align: center;
  margin-top: 10%;
}

.text-box {
  margin: 30px;
  background: rgba(255, 203, 71, 0.3)
}

.contact-btn {
  width: 15rem;
  background-color: #FFC536!important;
  color: #000!important;
  border-color: #FFC536!important;
}

.contact-btn:hover {
  background-color: #e0a100!important;
}

@media screen and (max-width: 600px) {
  .main {
    height: 120vw;
  }
}

@media screen and (min-width: 991px) {
  .main {
    height: 50vw;
  }
}